<button type="text" mat-raised-button color="primary">
  Mark All fields Required
</button>
<form novalidate #profileForm="ngForm" (ngSubmit)="submit(profileForm)">
  <div>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput name="firstName" [(ngModel)]="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput name="lastName" [(ngModel)]="lastName">
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle style="margin-right: 10px;">
      Want to add email?
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" [(ngModel)]="email">
    </mat-form-field>
  </div>
  <div class="address">
    <h4>Current Address</h4>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" name="address" [(ngModel)]="address">
        1600 Amphitheatre Pkwy
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 2</mat-label>
      <textarea matInput name="address2" [(ngModel)]="address2"></textarea>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco" name="city" [(ngModel)]="city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California" name="state" [(ngModel)]="state">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Postal Code</mat-label>
        <input matInput maxlength="5" placeholder="Ex. 94105" name="postalCode" [(ngModel)]="postalCode">
      </mat-form-field>
    </div>
  </div>
  <div>
    <h4>Languages</h4>
    <button type="button" mat-stroked-button>
      <mat-icon>add</mat-icon> Add
    </button>
    <!-- <ng-container *ngFor="let item of [1,2]">
      <div>
        <mat-form-field>
          <mat-label>Language Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let language of ['Hindi', 'English', 'Marathi']" [value]="food">
              {{language}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fluency</mat-label>
          <mat-select>
            <mat-option *ngFor="let language of ['Fluent', 'Native']" [value]="food">
              {{language}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container> -->
  </div>
  <button type="submit" mat-raised-button color="primary">
    Submit
  </button>
</form>
