<mat-grid-list cols="2" rowHeight="2:1" class="navigations">
    <mat-grid-tile>
        <a routerLink="../basic">Basic</a>
    </mat-grid-tile>
    <mat-grid-tile routerLink="template-driven">
        <a routerLink="../template-driven">Template Driven</a>
    </mat-grid-tile>
    <mat-grid-tile routerLink="model-driven">
        <a routerLink="../model-driven">Model Driven</a>
    </mat-grid-tile>
    <mat-grid-tile routerLink="typed-forms">
        <a routerLink="../typed-forms">Typed Forms</a>
    </mat-grid-tile>
</mat-grid-list>